button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f1c40f;
    color: #fff;
    border: none;
}

.main-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
}

.popup{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popup  a{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.popup-close{
    position: absolute;
    top: 10px;
    cursor: pointer;

}